<div id="pluginBundle"></div>
<script src="https://storage.googleapis.com/shopify-plugins/prod/bundle.plugin.js?tz=1"></script>
<script type="text/javascript">
   BundleGraphPath.init({
     product: {{product.id | default: 0}} , 
     customer: {{customer.id | default: 0}}, 
     clientId: 'getstorebrand', 
     clientSecret: 'o7Z2C4H4f9W4c5I5', 
     provider: 'shopify' 
   });
</script>