
            <div class="">
                <div class="container">
                    <div id="wm_wishlist_table">
                        {{ page.content }}
                    </div>
                </div>
            </div>